<div class="view">
    <h1>
        Custom Calendar
        <h6>
            v1.1
        </h6>
    </h1>

    <div
        class="filter-region">
        <div
            class="toggle-filter-button">
            <button
                mat-raised-button
                color="primary"
                (click)="toggleFilterPanel()">
                Filter Panel
            </button>
        </div>
        <app-filters
            *ngIf="openFilterPanel$ | async"
            [setTagList]="tagList$ | async"
            [setFilter]="filter$ | async">

        </app-filters>
    </div>

    <div class="sidebarToggle">
        <button 
            mat-raised-button
            color="primary"
            (click)="toggleSettingsSidebar()">
            <div
                class="buttonText">
                <fa-icon 
                    [icon]="faBars" 
                    size="4x"></fa-icon>
            </div>
        </button>
    </div>

    <div class="calendar-selector">
        <label>Calendar Selection:</label>

        <app-calendar-selector
            align="center"
            (switchTo)="switchCalendar($event)"
            [lookupArray]="calendarKeyValuePairs$ | async"></app-calendar-selector>
    </div>

    <app-options
        [hidden]="optionsAreClosed$ | async"
    ></app-options>

    <div class="calendar-space" align="center">
        <app-calendar 
            align="center"
            [newSettings]="currentCalendar$ | async"
        ></app-calendar>
    </div>

    <div class="new-event-panel" 
        *ngIf="newEventPanelIsOpen | async">
        <div class="topBar">
            <h3>Create New Event</h3>
            <button
                class="close-event-window"
                mat-mini-fab
                color="warn"
                (click)="closeEventWindow()">X</button>
        </div>
        <app-new-event
        (setWindow)="closeEventWindow()"
        [clickedDayID]="newEventDayID | async"
        ></app-new-event>
    </div>
</div>

<!--
<button class="scroll-to-top" (click)="scrollToTop()">
    <fa-icon [icon]="faArrowAltCircleUp" size="4x"></fa-icon>
</button>
-->