<div class="view">
    <h1>
        Custom Calendar
    </h1>

    <div class="sidebarToggle">
        <button 
            mat-raised-button
            color="primary"
            (click)="toggleSettingsSidebar()">
            <div
                class="buttonText">
                <fa-icon 
                    [icon]="faBars" 
                    size="4x"></fa-icon>
            </div>
        </button>
    </div>

    <div class="calendar-selector">
        <app-calendar-selector
            align="center"
            [lookupArray]="calendarKeyValuePairs$ | async"></app-calendar-selector>
    </div>

    <app-options
        [hidden]="optionsAreClosed$ | async"
    ></app-options>

    <div class="calendar-space" align="center">
        <app-calendar 
            align="center"
            [newSettings]="currentCalendar$ | async"
        ></app-calendar>
    </div>

    <div class="new-event-panel" 
        *ngIf="newEventPanelIsOpen | async">
        <div class="topBar">
            <h3>Create New Event</h3>
            <button (click)="closeEventWindow()">X</button>
        </div>
        <app-new-event
        (setWindow)="closeEventWindow()"
        [clickedDayID]="newEventDayID | async"
        ></app-new-event>
    </div>
</div>

<!--
<button class="scroll-to-top" (click)="scrollToTop()">
    <fa-icon [icon]="faArrowAltCircleUp" size="4x"></fa-icon>
</button>
-->