h1 {
    top: 20px;
    left: 10px;
    position: absolute;
    font-size: 50px;
    max-width: 70%;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.new-event-panel {
    background-color: rgb(190, 190, 190);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topBar button {
    height: 30px;
    width: 30px;
    padding-bottom: 36px;
    padding-left: 14px;
    padding-right: 22px;

}

.sidebarToggle {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    padding-right: 50px;
    padding-top: 10px;
}

.calendar-space {
    margin-top: 82px;
    height: calc(100% - 82px);
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: auto;
}

.calendar-selector {
    width: fit-content;
    position: fixed;
    right: 180px;
    top: 10px;
}

.buttonText {
    padding-top: 6px;
}

.filter-region {
    z-index: 1;
    position: absolute;
    top: 200px;
    border: black 2px solid;
    background-color: rgba(190, 190, 190);
}

.toggle-filter-button {
    padding: 4px;
}