<div class="day-button" (click)="click(day.id)">
    <div class="day-id">
        <div class="day-of-month">
            {{day.dayOfMonth}} 
        </div>
        <div class="day-of-year">
            {{day.dayOfYear}}
        </div>
    </div>
    <div class="day-content">
        <div *ngFor="let bubble of bubbles$ | async">
            <app-event-bubbles 
                [eventName]="bubble">
            </app-event-bubbles>
        </div>

        <!-- <div *ngFor="let cyclicalEvent of day.cyclicalEvents">
            {{cyclicalEvent.title}}
        </div>
        <div *ngFor="let uniqueEvent of day.uniqueEvents">
            
            {{uniqueEvent.title}}
        </div>
        <div *ngFor="let yearMonthlyEvent of day.yearMonthlyEvents">
            {{yearMonthlyEvent.title}}
        </div>
        <div *ngFor="let yearMonthDOWEvent of day.yearMonthDOWEvents">
            {{yearMonthDOWEvent.title}}
        </div>
        <div *ngFor="let yearlyEvent of day.yearlyEvents">
            {{yearlyEvent.title}}
        </div>
        <div *ngFor="let monthlyEvent of day.monthlyEvents">
            {{monthlyEvent.title}}
        </div>
        <div *ngFor="let weeklyEvent of day.weeklyEvents">
            {{weeklyEvent.title}}
        </div>
        <div *ngFor="let monthDOWEvent of day.monthDOWEvents">
            {{monthDOWEvent.title}}
        </div> -->
    </div>
</div>