<div class="input-fields" *ngIf="yearMonthlyEvent">
    <div class="title" *ngIf="editable">
        <label for="title-field">Title</label>
        <input [disabled]="!editable" class="input-field"
            id="title-field"
            [(ngModel)]="yearMonthlyEvent.title"/>
    </div>
    <div class="offset">
        <label for="offset-field">Day of Week</label>
        <input [disabled]="!editable" class="input-field"
            id="offset-field"
            [(ngModel)]="yearMonthlyEvent.offset"/>
    </div>
    <div class="monthOffset">
        <label for="monthOffset-field">Month</label>
        <input [disabled]="!editable" class="input-field"
            id="monthOffset-field"
            [(ngModel)]="yearMonthlyEvent.monthOffset"/>
    </div>
    <div class="duration">
        <label for="duration-field">Duration</label>
        <input [disabled]="!editable" class="input-field"
            id="duration-field"
            [(ngModel)]="yearMonthlyEvent.duration"/>
    </div>
</div>
