<app-options
    (changes)="splitSettings($event)"
    [totalSettings]="totalSettings" 
    (readNewjson)="newTotalSettings($event)"
></app-options>
<app-calendar 
    [settings]="totalSettings"
></app-calendar>

<div class="new-event-panel" *ngIf="showNewEvent">
    <div class="topBar">
        <h3>Create New Event</h3>
        <button (click)="closeEventWindow()">X</button>
    </div>
    <app-new-event
    (newCyclicalEvent)="createNewCyclicalEvent($event)"
    (newYearlyEvent)="createNewYearlyEvent($event)"
    (newMonthlyEvent)="createNewMonthlyEvent($event)"
    (newWeeklyEvent)="createNewWeeklyEvent($event)"
    (setWindow)="setWindow($event)"
    [clickedDayID]="newEventDayID"
    ></app-new-event>
</div>

<button class="scroll-to-top" (click)="scrollToTop()">
    <fa-icon [icon]="faArrowAltCircleUp" size="4x"></fa-icon>
</button>