<label>Save Calendar as JSON:</label>

<div id="jsonRegion" class="input-region">
    <button 
        mat-flat-button
        color="primary"
        [cdkCopyToClipboard]="jsonSave" 
        [cdkCopyToClipboardAttempts]="5">
        Copy Settings to Clipboard
    </button>
</div>

<div class="loadJSON">
    <label>Load Calendar from JSON</label>
    <div class="loadControls">
        <textarea 
            class="jsonArea"
            [(ngModel)]="fromjson" 
            placeholder="Paste JSON data here">
        </textarea>
        <button 
            mat-flat-button
            class="applyJSON"
            color="primary"
            (click)="newUserJSON()">
            Apply new JSON
        </button>
    </div>
</div>