<div class="region">
    <mat-select id="event-type" [(ngModel)]="eventType">
        <mat-option value="unique">Unique event, only happens once</mat-option>
        <mat-option value="cyclical">Cyclical, independent of calendar</mat-option>
        <mat-option value="yearMonthly">Happens once a year in a given month</mat-option>
        <mat-option value="yearly">Happens once a year</mat-option>
        <mat-option value="yearMonthDOW">Happens once a year, based on the day of the week</mat-option>
        <mat-option value="monthly">Happens once a month</mat-option>
        <mat-option value="monthDOW">Happens every month, based on the day of the week</mat-option>
        <mat-option value="weekly">Happens once a week</mat-option>
        
    </mat-select>
    <input 
        matInput
        [ngClass]="{
            'needs-attention': !title
        }" 
        [(ngModel)]="title" 
        type="text" 
        placeholder="Title"/>
    
    <div *ngIf="eventType === 'yearly'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !offset
            }" 
            [(ngModel)]="offset" 
            type="number" 
            placeholder="Day of the year"/>
    </div>
    
    <div *ngIf="eventType === 'yearMonthDOW' || eventType === 'yearMonthly'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !monthOffset
            }" 
            [(ngModel)]="monthOffset" 
            type="number" 
            placeholder="Month of the year" 
            min=1/>
    </div>
    
    <div *ngIf="eventType === 'yearMonthly'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !offset
            }" 
            [(ngModel)]="offset" 
            type="number" 
            placeholder="Day of the month" 
            min=1/>
    </div>
    
    <div 
        *ngIf="eventType !== 'yearly'
            && eventType !== 'unique'
            && eventType !== 'yearMonthly'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !offset
            }" 
            [(ngModel)]="offset" 
            type="number" 
            placeholder="Offset"/>
    </div>
    
    <div *ngIf="eventType === 'unique'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !clickedDayID
            }" 
            [(ngModel)]="clickedDayID" 
            type="number" 
            placeholder="Day ID"/>
    </div>
    
    <input 
        matInput
        [ngClass]="{
            'needs-attention': !duration
        }" 
        [(ngModel)]="duration" 
        type="number"
        placeholder="Duration of event" 
        min=1/>

    <div *ngIf="eventType === 'cyclical'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !repeatDays
            }" 
            [(ngModel)]="repeatDays" 
            type="number" 
            placeholder="Length of cycle" 
            min=1/>
    </div>

    <div *ngIf="eventType === 'monthDOW' || eventType === 'yearMonthDOW'">
        <input 
            matInput
            [ngClass]="{
                'needs-attention': !weekOffset
            }" 
            [(ngModel)]="weekOffset" 
            type="number" 
            placeholder="Week of the month" 
            min=1/>
    </div>

    <button 
        mat-flat-button
        color="primary"
        class="createButton"
        (click)="createEvent()">
        Create</button>
</div>
