<div class="calendar-header" align="center">
    <div>
        <button 
            (click)= "generatePreviousDisplayYear()" 
            *ngIf="calendar && yearLength <= yearStartingID" 
            class="year-control">
            <fa-icon 
                [icon]="faArrowAltCircleLeft" 
                size="5x">
            </fa-icon>
        </button>
    </div>
    <div class="year-sign" align="center" *ngIf="year && year.yearNumber != null && year.yearNumber != undefined && calendar && calendar.year.eras && calendar.year.eras.length > 0 && currentEra != null"> 
        <input 
        [(ngModel)]="year.yearNumber" 
        (ngModelChange)="this.userYearChange.next($event)"/>
        {{calendar.year.eras[currentEra].abbreviation}}
    </div>
    <div>
        <button 
            *ngIf="calendar"
            (click)= "generateNextDisplayYear()" 
            class="year-control">
            <fa-icon 
                [icon]="faArrowAltCircleRight" 
                size="5x">
            </fa-icon>
        </button>
    </div>
</div>


<div>
    <app-year [year]="year"></app-year>
</div>
