<div class="panel">
    <button class="toggleEvent" (click)="toggleEvent()" *ngIf="calendarEvent">{{calendarEvent.title}}</button>
    <div *ngIf="expanded">

        <div *ngIf="eventType === 'cyclical'">
            <app-cyclical-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-cyclical-fields>
        </div>

        <div *ngIf="eventType === 'unique'">
            <app-unique-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-unique-fields>
        </div>

        <div *ngIf="eventType === 'yearly'">
            <app-yearly-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-yearly-fields>
        </div>

        <div *ngIf="eventType === 'monthly'">
            <app-monthly-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-monthly-fields>
        </div>

        <div *ngIf="eventType === 'weekly'">
            <app-weekly-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-weekly-fields>
        </div>
        
        <div *ngIf="eventType === 'monthDOW'">
            <app-month-dow-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-month-dow-fields>
        </div>
        
        <div *ngIf="eventType === 'yearMonthDOW'">
            <app-year-month-dow-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-year-month-dow-fields>
        </div>
        
        <div *ngIf="eventType === 'yearMonthly'">
            <app-year-monthly-fields
                [addEvent]="calendarEvent"
                [editable]="editable"
            ></app-year-monthly-fields>
        </div>

    </div>
</div>