
<div class="settings-panel" *ngIf="showSettings">
    <div class="buffer">
        <!--This gives space for the settings toggle-->
    </div>
    <!--
    <button *ngIf="startingDayID >= daysPerYear" (click)= "generatePreviousDisplayMonth()">
        Previous Year
    </button>
    -->
    <button (click)= "pushChanges()">	
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    <!--
    <button (click)= "generateNextDisplayMonth()">
        Next Year
    </button>
        
    -->
    <div class="settings">
        <div class="settings-option">
            <label>Default Year:</label>
            <div class="input-region">
                <input [(ngModel)]="currentYear">
            </div>
        </div>
        <div class="settings-option">
            <label>Months of the year:</label>
            <div class="input-region">
                <div  *ngFor="let x of MonthNames; let idx = index; trackBy: trackArray">
                    <div class="input-fields">
                        <input class="month-name" type="text" [(ngModel)]="MonthNames[idx]"/>
                        <input class="month-length" type="number" [(ngModel)]="daysPerMonths[idx]" min=1/>
                        <button class="month-delete" (click)= "deleteMonth(idx)">
                            X
                        </button>
                    </div>
                </div>
                <input id="new-month-field" type="text" placeholder="new month">
                <button id="submit-new-month" (click)="addMonth()">
                    add
                </button>
                <div>
                    Number of months: {{MonthNames.length}}
                </div>
                <div>
                    Total days in a year: {{daysPerYear}}
                </div>
            </div>
        </div>
        <div class="settings-option">
            <label>Days of the week:</label>
            <div class="input-region">
                <div *ngFor="let x of DoW_names; let idx = index; trackBy: trackArray">
                    <input type="text" [(ngModel)]="DoW_names[idx]"/>
                    <button class="dow-delete" (click)= "deleteDoW(idx)">
                        X
                    </button>
                </div>
                <input [(ngModel)]="newDoWName" placeholder="new day of the week"/>
                <button (click)="addDoW()">
                    add
                </button>
                <div>
                    Days in a week: {{DoW_names.length}}
                </div>
            </div>
        </div>
        <div class="settings-option">
            <label>Leap year rules:</label>
            <div class="input-region">
                <div class="LYLabels">
                    <label>Years</label>
                    <label>Offset</label>
                    <label># of days</label>
                    <label>Month</label>
                </div>
                <div  class="LYConfigs" *ngFor="let x of leapYears; let idx = index; trackBy: trackArray">
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearCycles"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearOffset"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearChange"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapDayMonth"/>
                    <button class="ly-delete" (click)= "deleteLY(idx)">
                        X
                    </button>
                </div>
            </div>
        </div>
        <div class="input-fields">
            <label>new leap year rule</label>
            <div>
                <input class="LYRule" type="number" [(ngModel)]="candidateLY.leapYearCycles" placeholder="length of cycle"/>
                <input class="LYRule" type="number" [(ngModel)]="candidateLY.leapYearOffset" placeholder="offset"/>
                <input class="LYRule" type="number" [(ngModel)]="candidateLY.leapYearChange" placeholder="change in days"/>
                <input class="LYRule" type="number" [(ngModel)]="candidateLY.leapDayMonth" placeholder="month affected"/>
                <button (click)="addLY()">
                    add
                </button>
            </div>
        </div>
        <div class="settings-option">
            <label>Events:</label>
            <div class="input-region">
                <div>
                    <div class="input-fields" *ngFor="let x of eventArray; let idx = index; trackBy: trackArray">
                        <input [(ngModel)]="eventArray[idx].title" placeholder="new event name" type="string"/>
                        <input [(ngModel)]="eventArray[idx].dateID" placeholder="new event offset" type="number"/>
                        <input [(ngModel)]="eventArray[idx].duration" placeholder="duration" type="number"/>
                        <input [(ngModel)]="eventArray[idx].repeatDays" placeholder="cycle length" type="number"/>
                        <button class="event-delete" (click)= "deleteEvent(idx)">
                            X
                        </button>
                    </div>
                </div>
                <input [(ngModel)]="potentialEvent.title" placeholder="new event name" type="string"/>
                <input [(ngModel)]="potentialEvent.dateID" placeholder="new event offset" type="number"/>
                <input [(ngModel)]="potentialEvent.duration" placeholder="duration" type="number"/>
                <input [(ngModel)]="potentialEvent.repeatDays" placeholder="cycle length" type="number"/>
                <button (click)="addEvent()">
                    add
                </button>
            </div>
        </div>
        <div class="settings-option">
            <div id="jsonRegion" class="input-region">
                <label>Save Calendar as JSON:</label>
                <button [cdkCopyToClipboard]="jsonSave" [cdkCopyToClipboardAttempts]="5">
                    Copy Settings to Clipboard
                </button>
            </div>
        </div>
        <div class="loadJSON">
            <label>Load Calendar from JSON</label>
            <div class="loadControls">
                <textarea [(ngModel)]="fromjson" placeholder="Paste JSON data here">
                </textarea>
                <button (click)="newUserJSON()">
                    Apply new JSON
                </button>
            </div>
        </div>
        <div class="buffer">

        </div>
    </div>
</div>

<div class="sidebarToggle">
    <button (click)="toggleSettingsSidebar()" class="buttonText">
        <fa-icon [icon]="faBars" size="large"></fa-icon>
    </button>
</div>
