
<div class="settings-panel">

    <button (click)= "pushChanges()" class="apply">	
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    
    <div class="columns" *ngIf="totalSettingsObject">
        <div class="settings">
            <div class="settings-option">
                <div class="input-region">
                    <label>Default Year:</label>
                    <input [(ngModel)]="currentYear" [min]="eras[currentEra].beginning" [max]="eras[currentEra].ending">
                </div>
                <div class="input-region">
                    <label for="era">Default Era:</label>
                    <select id="era" [(ngModel)]="currentEra">
                        <option 
                            *ngFor="let era of eras; index as i" 
                            value=i>
                        {{era.eraName}}</option>
                    </select>
                </div>
            </div>
    
            <div class="settings-option">
                <label>Months of the year:</label>
                <div class="input-region">
                    <div  *ngFor="let x of settingsMonths; let idx = index; trackBy: trackArray">
                        <div class="input-fields">
                            <input class="month-name" type="text" [(ngModel)]="settingsMonths[idx].name"/>
                            <input class="month-length" type="number" [(ngModel)]="settingsMonths[idx].length" min=1/>
                            <button class="month-delete" (click)= "deleteMonth(idx)">
                                X
                            </button>
                        </div>
                    </div>
                    <input id="new-month-field" type="text" placeholder="new month">
                    <button id="submit-new-month" (click)="addMonth()">
                        add
                    </button>
                    <div *ngIf="settingsMonths">
                        Number of months: {{settingsMonths.length}}
                    </div>
                    <div *ngIf="daysPerYear">
                        Total days in a year: {{daysPerYear}}
                    </div>
                </div>
            </div>
    
            <div class="settings-option">
                <label>Days of the week:</label>
                <div class="input-region">
                    <div *ngFor="let x of DoW_names; let idx = index; trackBy: trackArray">
                        <input type="text" [(ngModel)]="DoW_names[idx]"/>
                        <button class="dow-delete" (click)= "deleteDoW(idx)">
                            X
                        </button>
                    </div>
                    <input [(ngModel)]="newDoWName" placeholder="new day of the week"/>
                    <button (click)="addDoW()">
                        add
                    </button>
                    <div *ngIf="DoW_names">
                        Days in a week: {{DoW_names.length}}
                    </div>
                </div>
            </div>
    
            <div class="settings-option">
                <label>Leap year rules:</label>
                <div class="input-region">
                    <div class="LYLabels">
                        <label>Years</label>
                        <label>Offset</label>
                        <label># of days</label>
                        <label>Month</label>
                    </div>
                    <div  class="LYConfigs" *ngFor="let x of leapYears; let idx = index; trackBy: trackArray">
                        <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearCycles"/>
                        <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearOffset"/>
                        <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearChange"/>
                        <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapDayMonth"/>
                        <button class="ly-delete" (click)= "deleteLY(idx)">
                            X
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="new-leap-rule">
                <label>new leap year rule</label>
                <div class="new-lyr-fields">
                    <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearCycles" placeholder="length of cycle"/>
                    <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearOffset" placeholder="offset"/>
                    <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearChange" placeholder="change in days"/>
                    <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapDayMonth" placeholder="month affected"/>
                    <button (click)="addLY()">
                        add
                    </button>
                </div>
            </div>
    
            <div class="settings-option">
                <label>Save Calendar as JSON:</label>
                <div id="jsonRegion" class="input-region">
                    <button [cdkCopyToClipboard]="jsonSave" [cdkCopyToClipboardAttempts]="5">
                        Copy Settings to Clipboard
                    </button>
                </div>
            </div>
    
            <div class="loadJSON">
                <label>Load Calendar from JSON</label>
                <div class="loadControls">
                    <textarea [(ngModel)]="fromjson" placeholder="Paste JSON data here">
                    </textarea>
                    <button (click)="newUserJSON()">
                        Apply new JSON
                    </button>
                </div>
            </div>
    
        </div>
    
        <div class="settings">
            <div class="settings-option">
                <label>Events:</label>
                <div class="input-region">
                    <div class="events-list">
                        <div class="event-category"
                            *ngIf="cyclicalEvents && cyclicalEvents.length > 0">
                            Cyclical Events
                            <div class="input-fields" *ngFor="let x of cyclicalEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'cyclical'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteCyclicalEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category"
                            *ngIf="uniqueEvents && uniqueEvents.length > 0">
                            Unique Events
                            <div class="input-fields" *ngFor="let x of uniqueEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'unique'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteUniqueEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category" 
                            *ngIf="yearlyEvents && yearlyEvents.length > 0">
                            Yearly Events
                            <div class="input-fields" *ngFor="let x of yearlyEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'yearly'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteYearlyEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category" 
                            *ngIf="monthlyEvents && monthlyEvents.length > 0">
                            Monthly Events
                            <div class="input-fields" *ngFor="let x of monthlyEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'monthly'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteMonthlyEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category"
                            *ngIf="weeklyEvents && weeklyEvents.length > 0">
                            Weekly Events
                            <div class="input-fields" *ngFor="let x of weeklyEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'weekly'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteWeeklyEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category"
                            *ngIf="monthDOWEvents && monthDOWEvents.length > 0">
                            Monthly Events Based on the Day of the Week
                            <div class="input-fields" *ngFor="let x of monthDOWEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'monthDOW'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteMonthDOWEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category"
                            *ngIf="yearMonthDOWEvents && yearMonthDOWEvents.length > 0">
                            Yearly Events Based on the Month and Day of the Week
                            <div class="input-fields" *ngFor="let x of yearMonthDOWEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'yearMonthDOW'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteYearMonthDOWEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                        <div class="event-category"
                            *ngIf="yearlyMonthlyEvents && yearlyMonthlyEvents.length > 0">
                            Yearly Events Based on the Day of the Month
                            <div class="input-fields" *ngFor="let x of yearlyMonthlyEvents; let idx = index; trackBy: trackArray">
                                <app-event 
                                [calendarEvent]="x" 
                                [eventType]="'yearMonthly'"
                                [editable]=true
                                ></app-event>
                                <button class="event-delete" (click)= "deleteYearMonthlyEvent(idx)">
                                    X
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="new-event-region">
                <app-new-event
                (newCyclicalEvent)="createNewCyclicalEvent($event)"
                (newUniqueEvent)="createNewUniqueEvent($event)"
                (newYearlyEvent)="createNewYearlyEvent($event)"
                (newMonthlyEvent)="createNewMonthlyEvent($event)"
                (newWeeklyEvent)="createNewWeeklyEvent($event)"
                (newMonthlyDOWEvent)="createNewMonthDOWEvent($event)"
                (newYearlyMonthlyDOWEvent)="createNewYearMonthDOWEvent($event)"
                (newYearlyMonthlyEvent)="createNewYearlyMonthlyEvent($event)"
                ></app-new-event>
            </div>
        </div>
    
    </div>
    
</div>
