
<div class="settings-panel" [hidden]="hideSettings">
    <div class="buffer">
        <!--This gives space for the settings toggle-->
    </div>

    <button (click)= "pushChanges()">	
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    
    <div class="settings">
        <div class="settings-option">
            <label>Default Year:</label>
            <div class="input-region">
                <input [(ngModel)]="currentYear">
            </div>
        </div>

        <div class="settings-option">
            <label>Months of the year:</label>
            <div class="input-region">
                <div  *ngFor="let x of MonthNames; let idx = index; trackBy: trackArray">
                    <div class="input-fields">
                        <input class="month-name" type="text" [(ngModel)]="MonthNames[idx]"/>
                        <input class="month-length" type="number" [(ngModel)]="daysPerMonths[idx]" min=1/>
                        <button class="month-delete" (click)= "deleteMonth(idx)">
                            X
                        </button>
                    </div>
                </div>
                <input id="new-month-field" type="text" placeholder="new month">
                <button id="submit-new-month" (click)="addMonth()">
                    add
                </button>
                <div *ngIf="MonthNames">
                    Number of months: {{MonthNames.length}}
                </div>
                <div>
                    Total days in a year: {{daysPerYear}}
                </div>
            </div>
        </div>

        <div class="settings-option">
            <label>Days of the week:</label>
            <div class="input-region">
                <div *ngFor="let x of DoW_names; let idx = index; trackBy: trackArray">
                    <input type="text" [(ngModel)]="DoW_names[idx]"/>
                    <button class="dow-delete" (click)= "deleteDoW(idx)">
                        X
                    </button>
                </div>
                <input [(ngModel)]="newDoWName" placeholder="new day of the week"/>
                <button (click)="addDoW()">
                    add
                </button>
                <div *ngIf="DoW_names">
                    Days in a week: {{DoW_names.length}}
                </div>
            </div>
        </div>

        <div class="settings-option">
            <label>Leap year rules:</label>
            <div class="input-region">
                <div class="LYLabels">
                    <label>Years</label>
                    <label>Offset</label>
                    <label># of days</label>
                    <label>Month</label>
                </div>
                <div  class="LYConfigs" *ngFor="let x of leapYears; let idx = index; trackBy: trackArray">
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearCycles"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearOffset"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapYearChange"/>
                    <input class="LYRule" type="number" [(ngModel)]="leapYears[idx].leapDayMonth"/>
                    <button class="ly-delete" (click)= "deleteLY(idx)">
                        X
                    </button>
                </div>
            </div>
        </div>

        <div class="new-leap-rule">
            <label>new leap year rule</label>
            <div class="new-lyr-fields">
                <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearCycles" placeholder="length of cycle"/>
                <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearOffset" placeholder="offset"/>
                <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapYearChange" placeholder="change in days"/>
                <input class="newLYRule" type="number" [(ngModel)]="candidateLY.leapDayMonth" placeholder="month affected"/>
                <button (click)="addLY()">
                    add
                </button>
            </div>
        </div>

        <div class="settings-option">
            <label>Events:</label>
            <div class="input-region">
                <div class="events-list">
                    <div class="input-fields" *ngFor="let x of cyclicalEvents; let idx = index; trackBy: trackArray">
                        <input [(ngModel)]="cyclicalEvents[idx].title" placeholder="new event name" type="string" class="event-name"/>
                        <input [(ngModel)]="cyclicalEvents[idx].offset" placeholder="new event offset" type="number" class="other-event-fields"/>
                        <input [(ngModel)]="cyclicalEvents[idx].duration" placeholder="duration" type="number" class="event-duration-fields"/>
                        <input [(ngModel)]="cyclicalEvents[idx].repeatDays" placeholder="cycle length" type="number" class="other-event-fields"/>
                        <button class="event-delete" (click)= "deleteCyclicalEvent(idx)">
                            X
                        </button>
                    </div>
                    <div class="input-fields" *ngFor="let x of yearlyEvents; let idx = index; trackBy: trackArray">
                        <input [(ngModel)]="yearlyEvents[idx].title" placeholder="new event name" type="string" class="event-name"/>
                        <input [(ngModel)]="yearlyEvents[idx].offset" placeholder="new event offset" type="number" class="other-event-fields"/>
                        <input [(ngModel)]="yearlyEvents[idx].duration" placeholder="duration" type="number" class="event-duration-fields"/>
                        <div *ngIf="yearlyEvents[idx].month">
                            <input [(ngModel)]="yearlyEvents[idx].month" placeholder="month" type="number" class="other-event-fields"/>
                        </div>
                        <button class="event-delete" (click)= "deleteYearlyEvent(idx)">
                            X
                        </button>
                    </div>
                    <div class="input-fields" *ngFor="let x of monthlyEvents; let idx = index; trackBy: trackArray">
                        <input [(ngModel)]="monthlyEvents[idx].title" placeholder="new event name" type="string" class="event-name"/>
                        <input [(ngModel)]="monthlyEvents[idx].offset" placeholder="new event offset" type="number" class="other-event-fields"/>
                        <input [(ngModel)]="monthlyEvents[idx].duration" placeholder="duration" type="number" class="event-duration-fields"/>
                        <button class="event-delete" (click)= "deleteMonthlyEvent(idx)">
                            X
                        </button>
                    </div>
                    <div class="input-fields" *ngFor="let x of weeklyEvents; let idx = index; trackBy: trackArray">
                        <input [(ngModel)]="weeklyEvents[idx].title" placeholder="new event name" type="string" class="event-name"/>
                        <input [(ngModel)]="weeklyEvents[idx].offset" placeholder="new event offset" type="number" class="other-event-fields"/>
                        <input [(ngModel)]="weeklyEvents[idx].duration" placeholder="duration" type="number" class="event-duration-fields"/>
                        <button class="event-delete" (click)= "deleteWeeklyEvent(idx)">
                            X
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-event-region">
            <app-new-event
            (newCyclicalEvent)="createNewCyclicalEvent($event)"
            (newYearlyEvent)="createNewYearlyEvent($event)"
            (newMonthlyEvent)="createNewMonthlyEvent($event)"
            (newWeeklyEvent)="createNewWeeklyEvent($event)"
            ></app-new-event>
        </div>

        <div class="settings-option">
            <label>Save Calendar as JSON:</label>
            <div id="jsonRegion" class="input-region">
                <button [cdkCopyToClipboard]="jsonSave" [cdkCopyToClipboardAttempts]="5">
                    Copy Settings to Clipboard
                </button>
            </div>
        </div>

        <div class="loadJSON">
            <label>Load Calendar from JSON</label>
            <div class="loadControls">
                <textarea [(ngModel)]="fromjson" placeholder="Paste JSON data here">
                </textarea>
                <button (click)="newUserJSON()">
                    Apply new JSON
                </button>
            </div>
        </div>

        <div class="buffer"></div>
    </div>
</div>

<div class="sidebarToggle">
    <button (click)="toggleSettingsSidebar()" class="buttonText">
        <fa-icon [icon]="faBars" size="large"></fa-icon>
    </button>
</div>
