@import "../app.component.css";

.settings-panel {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 560px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(190, 190, 190);
  overflow-x: hidden; /* Disable horizontal scroll */
}

.settings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.settings-option {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 3px solid black;
}

.input-region {
  width: 100%;
}

label {
  margin-right: 5px;
  margin-left: 10px;
}

input {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 60%;
}

.input-fields {
  display: flex;
  flex-direction: row;
}

.month-name {
  width: 40%;
}

.month-length {
  width: 20%;
}

.settings-option label {
  width: 140px !important;
}

.sidebarToggle {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  padding-right: 50px;
  padding-top: 10px;
}

.buttonText {
  font-size: 40px;
  border: none;
}

.buffer {
  height: 80px;
}

.LYConfigs {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.LYLabels {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#jsonSaveField {
  resize: none;
}

.loadJSON {
  display: flex;
  flex-direction: row;
}

.loadControls {
  display: flex;
  flex-direction: column;
}

.eventsFields {
  display: flex;
  flex-direction: row;
}