<div *ngIf="!!leapYears" class="container">

    <label>Leap year rules:</label>

    <table class="input-region">
        <tr 
        class="LYLabels">
            <th>Years</th>
            <th>Offset</th>
            <th># of days</th>
            <th>Month</th>
        </tr>
        <tr  
        class="LYConfigs" 
        *ngFor="let x of leapYears; let idx = index; trackBy: trackArray">
            <td>
                <input 
                    matInput
                    class="LYRule" 
                    type="number" 
                    [readonly]="idx != (leapYearEditingIndex$ | async)"
                    [(ngModel)]="leapYears[idx].leapYearCycles"/>
            </td>
            <td>
                <input 
                    matInput
                    class="LYRule"
                    type="number"
                    [readonly]="idx != (leapYearEditingIndex$ | async)"
                    [(ngModel)]="leapYears[idx].leapYearOffset"/>
            </td>
            <td>
                <input
                    matInput
                    class="LYRule"
                    type="number"
                    [readonly]="idx != (leapYearEditingIndex$ | async)"
                    [(ngModel)]="leapYears[idx].leapYearChange"/>
            </td>
            <td>
                <input
                    matInput
                    class="LYRule"
                    type="number"
                    [readonly]="idx != (leapYearEditingIndex$ | async)"
                    [(ngModel)]="leapYears[idx].leapDayMonth"/>
            </td>
            <button 
                mat-flat-button
                color="primary"
                class="day-edit" 
                *ngIf="idx != (leapYearEditingIndex$ | async)"
                (click)="toggleEditLeapYear(idx)">
                edit
            </button>
            <button 
                mat-flat-button
                color="primary"
                class="day-edit" 
                *ngIf="idx == (leapYearEditingIndex$ | async)"
                (click)="toggleEditLeapYear(-1)">
                close
            </button>
            <button 
                mat-mini-fab
                color="warn"
                class="ly-delete"
                *ngIf="idx == (leapYearEditingIndex$ | async)" 
                (click)= "deleteLY(idx)">
                X
            </button>
        </tr>
    </table>

    <button
        mat-flat-button
        color="primary"
        (click)="toggleNewLeapYear()">
        New Leap Year
    </button>
    <div class="new-leap-year-panel" *ngIf="newLeapYearPanel$ | async">
        <app-new-leap-year-rule
            (leapYearCreation)="createNewLeapYear($event)"
        ></app-new-leap-year-rule>
    </div>
</div>