<div *ngIf="!!leapYears" class="container">

    <label>Leap year rules:</label>

    <div class="input-region">
        <div class="LYLabels">
            <label>Years</label>
            <label>Offset</label>
            <label># of days</label>
            <label>Month</label>
        </div>
        <div  
        class="LYConfigs" 
        *ngFor="let x of leapYears; let idx = index; trackBy: trackArray">
            <mat-form-field>
                <div class="leap-year-rule">
                    <input 
                        matInput
                        class="LYRule" 
                        type="number" 
                        [readonly]="idx != (leapYearEditingIndex$ | async)"
                        [(ngModel)]="leapYears[idx].leapYearCycles"/>
                    <input 
                        matInput
                        class="LYRule"
                        type="number"
                        [readonly]="idx != (leapYearEditingIndex$ | async)"
                        [(ngModel)]="leapYears[idx].leapYearOffset"/>
                    <input
                        matInput
                        class="LYRule"
                        type="number"
                        [readonly]="idx != (leapYearEditingIndex$ | async)"
                        [(ngModel)]="leapYears[idx].leapYearChange"/>
                    <input
                        matInput
                        class="LYRule"
                        type="number"
                        [readonly]="idx != (leapYearEditingIndex$ | async)"
                        [(ngModel)]="leapYears[idx].leapDayMonth"/>
                    <button 
                        class="day-edit" 
                        *ngIf="idx != (leapYearEditingIndex$ | async)"
                        (click)="toggleEditLeapYear(idx)">
                        edit
                    </button>
                    <button 
                        class="day-edit" 
                        *ngIf="idx == (leapYearEditingIndex$ | async)"
                        (click)="toggleEditLeapYear(-1)">
                        close
                    </button>
                    <button 
                        class="ly-delete"
                        *ngIf="idx == (leapYearEditingIndex$ | async)" 
                        (click)= "deleteLY(idx)">
                        X
                    </button>
                </div>
            </mat-form-field>
        </div>
    </div>

    <button
        (click)="toggleNewLeapYear()">
        New Leap Year
    </button>
    <div class="new-leap-year-panel" *ngIf="newLeapYearPanel$ | async">
        <app-new-leap-year-rule
            (leapYearCreation)="createNewLeapYear($event)"
        ></app-new-leap-year-rule>
    </div>
</div>