<!--
    
<button *ngIf="startingDayID >= monthLength" (click)= "generatePreviousDisplayMonth()">
    Previous Month
</button>
<button (click)= "generateDisplayMonth()">
    Refresh Month
</button>
<button (click)= "generateNextDisplayMonth()">
    Next Month
</button>

<div>
    <label>Days in a month:</label>
    <input [(ngModel)]="monthLength" type="number" min="1" max="180"/>
    <label>Starting day of the week:</label>
    <select [(ngModel)]="startingDoW" >
        <option [ngValue]=0>Monday</option>
        <option *ngIf="daysPerWeek > 1" [ngValue]=1>Tuesday</option>
        <option *ngIf="daysPerWeek > 2" [ngValue]=2>Wednesday</option>
        <option *ngIf="daysPerWeek > 3" [ngValue]=3>Thursday</option>
        <option *ngIf="daysPerWeek > 4" [ngValue]=4>Friday</option>
        <option *ngIf="daysPerWeek > 5" [ngValue]=5>Saturday</option>
        <option *ngIf="daysPerWeek > 6" [ngValue]=6>Sunday</option>
    </select>
</div>

-->

<app-year [year]="year" [daysOfWeek]="DoW"></app-year>
