@import "../app.component.css";

.year-controls {
  position: relative;
  top: -45px;
  left: 350px;
  width: 300px;
  margin: 0px;
}

.year-sign {
  position: relative;
  top: -45px;
  left: 50%;
  font-size: 60px;
  font-weight: bold;
}

.previous-year-controls {
  position: absolute;
}

.next-year-controls {
  position: absolute;
  left: 120px;
}
