
<div class="settings" *ngIf="showSettings">
    <!--
    <button *ngIf="startingDayID >= daysPerYear" (click)= "generatePreviousDisplayMonth()">
        Previous Year
    </button>
    -->
    <button (click)= "generateDisplayYear()">
        Refresh Calendar
    </button>
    <!--
    <button (click)= "generateNextDisplayMonth()">
        Next Year
    </button>
        
    -->
    
    <div>
        <label>Days in a month:</label>
        <input [(ngModel)]="daysPerMonth" type="number" min="1"/>
    </div>
    
    <div>
        <label>Days in a year:</label>
        <input [(ngModel)]="daysPerYear" type="number" min="1"/>
    </div>
    <div>
        <label>Days of the week:</label>
        <input *ngFor="let x of DoW; let idx = index; trackBy: trackArray" 
            type="text" [(ngModel)]="DoW[idx]">
    </div>
</div>

<div class="sidebarToggle">
    <button (click)="toggleSettingsSidebar()" class="buttonText">
        Sidebar
    </button>
</div>

<app-year [year]="year" [daysOfWeek]="DoW"></app-year>
