@import "../app.component.css";

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 0px;
  position: relative;
  top: 22px;
}

.year-control {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.year-sign {
  font-size: 60px;
  font-weight: bold;
}

.year-sign input {
  font-size: 60px;
  font-weight: bold;
  width: 300px;
  text-align: center;
}