@import "../app.component.css";

.settings {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 460px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgba(190, 190, 190, 0.95);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidebarToggle {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    padding-right: 50px;
}

.buttonText {
  font-size: 40px;
}