<div class="year-controls">
    <div class="previous-year-controls">
        <button (click)= "generatePreviousDisplayYear()" *ngIf="daysPerYear <= startingDayID">
            Previous Year
        </button>
    </div>
    <div class="next-year-controls">
        <button (click)= "generateNextDisplayYear()">
            Next Year
        </button>
    </div>
</div>

<div class="year-sign" *ngIf="currentYear != null && currentYear != undefined">
    Year: {{currentYear}}
</div>

<div class="settings-panel" *ngIf="showSettings">
    <!--
    <button *ngIf="startingDayID >= daysPerYear" (click)= "generatePreviousDisplayMonth()">
        Previous Year
    </button>
    -->
    <button (click)= "generateDisplayYear()">
        Refresh Calendar
    </button>
    <!--
    <button (click)= "generateNextDisplayMonth()">
        Next Year
    </button>
        
    -->
    <div class="settings">
        <div class="settings-option">
            <label>Days of the week:</label>
            <div class="input-region">
                <div *ngFor="let x of DoW; let idx = index; trackBy: trackArray">
                    <input type="text" [(ngModel)]="DoW[idx]"/>
                    <button class="dow-delete" (click)= "deleteDoW(idx)">
                        X
                    </button>
                </div>
            </div>
        </div>
        <div class="settings-option">
            <label>Months of the year:</label>
            <div class="input-region">
                <div  *ngFor="let x of MonthNames; let idx = index; trackBy: trackArray">
                    <div class="input-fields">
                        <input class="month-name" type="text" [(ngModel)]="MonthNames[idx]"/>
                        <input class="month-length" type="number" [(ngModel)]="daysPerMonths[idx]" min=1/>
                        <button class="month-delete" (click)= "deleteMonth(idx)">
                            X
                        </button>
                    </div>
                </div>
                <input id="new-month-field" type="text" placeholder="new month">
                <button id="submit-new-month" (click)="addMonth()">
                    add
                </button>
                <div>
                    Total days in a year: {{daysPerYear}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebarToggle">
    <button (click)="toggleSettingsSidebar()" class="buttonText">
        Settings
    </button>
</div>

<app-year [year]="year" [daysOfWeek]="DoW"></app-year>
