.copy-calendar {
    padding: 10px;
}

.highlight {
    border: red 2px solid;
}

.lower-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copy-button {
    height: 40px;
}