<div class="day-button" (click)="click(day.id)">
    <div class="day-id">
        <div class="day-of-month">
            {{day.dayOfMonth}} 
        </div>
        <div class="day-of-year">
            {{day.dayOfYear}}
        </div>
    </div>
    <div class="day-content">
        <ul>
            <li *ngFor="let cyclicalEvent of day.cyclicalEvents">
                {{cyclicalEvent.title}}
            </li>
            <li *ngFor="let yearMonthDOWEvent of day.yearMonthDOWEvents">
                {{yearMonthDOWEvent.title}}
            </li>
            <li *ngFor="let yearlyEvent of day.yearlyEvents">
                {{yearlyEvent.title}}
            </li>
            <li *ngFor="let monthlyEvent of day.monthlyEvents">
                {{monthlyEvent.title}}
            </li>
            <li *ngFor="let weeklyEvent of day.weeklyEvents">
                {{weeklyEvent.title}}
            </li>
            <li *ngFor="let monthDOWEvent of day.monthDOWEvents">
                {{monthDOWEvent.title}}
            </li>
        </ul>
    </div>
</div>