<div class="day-button" (click)="click(day.id)">
    <div class="day-id">
        <div class="day-of-month">
            {{day.dayOfMonth}} 
        </div>
        <div class="day-of-year">
            {{day.dayOfYear}}
        </div>
    </div>
    <div class="day-content">
        <ul *ngFor="let cyclicalEvent of day.cyclicalEvents">
            <li *ngIf="cyclicalEvent">
                {{cyclicalEvent.title}}
            </li>
        </ul>
        <ul *ngFor="let yearlyEvent of day.yearlyEvents">
            <li *ngIf="yearlyEvent">
                {{yearlyEvent.title}}
            </li>
        </ul>
        <ul *ngFor="let monthlyEvent of day.monthlyEvents">
            <li *ngIf="monthlyEvent">
                {{monthlyEvent.title}}
            </li>
        </ul>
        <ul *ngFor="let weeklyEvent of day.weeklyEvents">
            <li *ngIf="weeklyEvent">
                {{weeklyEvent.title}}
            </li>
        </ul>
    </div>
</div>