
<div class="new-era">
    New Era:
    <input 
        matInput
        class="new-era-name" 
        type="text" 
        [(ngModel)]="newEra.eraName" 
        placeholder="Era Name"
        autocomplete="off"/>
    <input 
        matInput
        class="new-era-abbr"
        type="text"
        [(ngModel)]="newEra.abbreviation"
        placeholder="Era Abbreviation"
        autocomplete="off"/>
    <input
        matInput 
        class="new-era-begin"
        type="number"
        [(ngModel)]="newEra.beginning"
        placeholder="Start year number"
        autocomplete="off"/>
    <input 
        matInput
        class="new-era-end"
        type="number"
        [(ngModel)]="newEra.ending"
        placeholder="End year number"
        autocomplete="off"/>
    <div>
        <label for="era-reverse">Reverse</label>
        <input id="era-reverse" class="new-era-reverse" type="checkbox" [(ngModel)]="newEra.reversed"/>
    </div>
    <input 
        matInput
        class="new-era-index" 
        type="number" 
        [(ngModel)]="newEraOrder" 
        [min]="1" 
        [max]="eraListLength + 1"
        placeholder="Era placement"
        autocomplete="off"/>
    <button 
        mat-flat-button
        color="primary"
        class="new-era-create"
        (click)= "submit()">
        add
    </button>
</div>