<div *ngIf="settingsMonths">
    <label>Months of the year:</label>

    <div class="input-region">
        <div  *ngFor="let x of settingsMonths; let idx = index; trackBy: trackArray">
            <mat-form-field>
                <div class="input-fields">
                    <input
                        matInput
                        class="month-name"
                        type="text"
                        [(ngModel)]="settingsMonths[idx].name"/>
                    <input
                        matInput
                        class="month-length"
                        type="number"
                        [(ngModel)]="settingsMonths[idx].length"
                        min=1/>
                    <button class="month-delete" (click)= "deleteMonth(idx)">
                        X
                    </button>
                </div>
            </mat-form-field>
        </div>
        <input
            matInput
            id="new-month-field"
            type="text"
            placeholder="new month">
        <button id="submit-new-month" (click)="addMonth()">
            add
        </button>
        <div *ngIf="settingsMonths">
            Number of months: {{settingsMonths.length}}
        </div>
        <!-- not implemented: 
        <div *ngIf="daysPerYear">
            Total days in a year: {{daysPerYear}}
        </div>
        -->
    </div>
</div>