table, th, td {
    border: 3px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
    font-size: 40px;
}

th, td {
    min-width: 160px;
    height: 100px;
    padding: 15px;
}

td {
    text-align: left;
    vertical-align: top;
}

li {
    font-size: 24px;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color:#40506150;
    border-radius: 8px 8px 8px 8px;
}

.day-content {
    height: 200px;
    border: 4px dotted green;
}
.day-id {
    height: 60px;
    border: 4px dotted rgb(180, 105, 44);
}

tr:hover {background-color: #c6d3ff81;}

html * {
    font-family: Arial !important;
}