<div class="input-fields" *ngIf="monthlyEvent">
    <div class="title" *ngIf="editable">
        <label for="title-field">Title</label>
        <input [disabled]="!editable" class="input-field"
            id="title-field"
            [(ngModel)]="monthlyEvent.title"/>
    </div>
    <div class="offset">
        <label for="offset-field">Day of Week</label>
        <input [disabled]="!editable" class="input-field"
            id="offset-field"
            [(ngModel)]="monthlyEvent.offset"/>
    </div>
    <div class="weekOffset">
        <label for="weekOffset-field">Week</label>
        <input [disabled]="!editable" class="input-field"
            id="weekOffset-field"
            [(ngModel)]="monthlyEvent.weekOffset"/>
    </div>
    <div class="duration">
        <label for="duration-field">Duration</label>
        <input [disabled]="!editable" class="input-field"
            id="duration-field"
            [(ngModel)]="monthlyEvent.duration"/>
    </div>
</div>
