<label>Days of the week:</label>

<div class="input-region">
    <div *ngFor="let x of DoW_names; let idx = index; trackBy: trackArray">
        <input type="text" [(ngModel)]="DoW_names[idx]"/>
        <button class="dow-delete" (click)= "deleteDoW(idx)">
            X
        </button>
    </div>
    <input [(ngModel)]="newDoWName" placeholder="new day of the week"/>
    <button (click)="addDoW()">
        add
    </button>
    <div *ngIf="DoW_names">
        Days in a week: {{DoW_names.length}}
    </div>
</div>