<label>Days of the week:</label>

<div class="input-region">
    <div *ngFor="let x of DoW; let idx = index; trackBy: trackArray">
        <mat-form-field>
            <div class="day">
                <input
                    matInput 
                    type="text" 
                    [readonly]="idx != (dayOfWeekEditingIndex$ | async)"
                    [(ngModel)]="DoW[idx]"/>
                <button 
                    class="day-edit" 
                    *ngIf="idx != (dayOfWeekEditingIndex$ | async)"
                    (click)="toggleEditWeek(idx)">
                    edit
                </button>
                <button 
                    class="day-edit" 
                    *ngIf="idx == (dayOfWeekEditingIndex$ | async)"
                    (click)="toggleEditWeek(-1)">
                    close
                </button>
                <button 
                    class="dow-delete"
                    (click)= "deleteDoW(idx)"
                    *ngIf="idx == (dayOfWeekEditingIndex$ | async)">
                    X
                </button>
            </div>
        </mat-form-field>
    </div>
    <input 
        matInput
        [(ngModel)]="newDoWName" 
        placeholder="new day of the week"/>
    <button (click)="addDoW()">
        add
    </button>
    <div *ngIf="DoW">
        Days in a week: {{DoW.length}}
    </div>
</div>