
<table class="calendar" align="center">
    <h2>
    {{month.name}}
    </h2>
    <div *ngIf="month && month.weeks">
        <tr *ngIf=daysOfWeek>
            <th *ngFor="let name of daysOfWeek">{{name}}</th>
        </tr>
        <tr *ngFor="let week of month.weeks">
            <td *ngFor="let day of week.days" style="overflow-y: auto;">
                <div *ngIf="day">
                    <app-day [day]="day"></app-day>
                </div>
            </td>
        </tr>
    </div>
</table>
