table, th, td {
    border: 3px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
    font-size: 200px;
}

th, td {
    min-width: 60px;
    height: 100px;
    padding: 15px;
}

td {
    text-align: left;
    vertical-align: top;
}


tr:hover {background-color: #c6d3ff81;}