@import "../app.component.css";

:host {
    margin: 5px 5px 5px 5px;
}

.day-repeater {
    overflow-y: auto;
    min-width: 140px;
    min-height: 160px;
    padding: 0px;
}

.day-container {
    width: 100%;
    height: 100%;
}

h2 {
    height: 40px;
}