
<table class="calendar">
    <div *ngIf="month && month.weeks">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr *ngFor="let week of month.weeks">
            <td *ngFor="let day of week.days" style="overflow-y: auto;">
                <div *ngIf="day">
                    <app-day [day]="day"></app-day>
                </div>
            </td>
        </tr>
    </div>
</table>
