<div class="settings-option" *ngIf="year">
    <label>Year Settings:</label>
    <div class="defaults">
        <mat-form-field>
            <mat-label  >Default Year:</mat-label>
            <input 
            matInput
            (ngModelChange)="this.defaultYearChange.next($event)"
            [ngModel]="year.currentYear">
        </mat-form-field>
        <mat-form-field>
            <mat-label 
                for="era" 
                matInput>
                Default Era:</mat-label>
            <mat-select 
                matInput
                id="era" 
                (ngModelChange)="this.defaultEraChange.next($event)"
                [ngModel]="year.currentEra">
                <mat-option matInput
                    *ngFor="let era of year.eras; index as i" 
                    [value]=i>
                    {{era.eraName}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div>
            Eras:
            <div class="era-list">
                <mat-form-field  *ngFor="let x of year.eras; let idx = index; trackBy: trackArray">
                    <button
                        *ngIf="idx != (eraEditingIndex$ | async)"
                        (click)="changeEraEditingIndex(idx)">edit</button>
                    <button
                        *ngIf="idx == (eraEditingIndex$ | async)"
                        (click)="changeEraEditingIndex(-1)">close</button>
                    <input 
                        matInput
                        class="era-name" 
                        type="text" 
                        [(ngModel)]="x.eraName"
                        [readonly]="idx != (eraEditingIndex$ | async)"/>
                    <input 
                        matInput
                        class="era-abbr" 
                        type="text" 
                        [(ngModel)]="x.abbreviation"
                        [readonly]="idx != (eraEditingIndex$ | async)"/>
                    <div 
                        *ngIf="x.beginning">
                        <label
                            for="era-begin">Beginning</label>
                        <input 
                            id="era-begin"
                            matInput
                            class="era-begin" 
                            type="number" 
                            [(ngModel)]="x.beginning"
                            [readonly]="idx != (eraEditingIndex$ | async)"/>
                    </div>
                    <div *ngIf="x.ending">
                        <label
                            for="era-end">Ending</label>
                        <input 
                            id="era-end"
                            matInput
                            class="era-end" 
                            type="number" 
                            [(ngModel)]="x.ending"
                            [readonly]="idx != (eraEditingIndex$ | async)"/>
                    </div>
                    <!--
                    <input 
                        class="era-reverse"
                        type="checkbox"
                        [(ngModel)]="x.reversed"
                        [readonly]="idx != (eraEditingIndex$ | async)"/>Reversed
                    -->
                    <button
                        mat-raised-button
                        class="era-delete" 
                        (click)= "deleteEra(idx)"
                        *ngIf="idx == (eraEditingIndex$ | async)">
                        X
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div>
        <button
        (click)="toggleNewEraPanel()">New Era</button>
        <div class="new-era-panel" *ngIf="newEraPanelOpen$ | async">
            <app-new-era
                (eraCreation)="createNewEra($event)"
                [eraListLength]="year.eras.length"
            ></app-new-era>
        </div>
    </div>
</div>