<div class="settings-option" *ngIf="year">
    <label>Year Settings:</label>
    <div class="defaults">
        <mat-form-field>
            <mat-label  >Default Year:</mat-label>
            <input 
            matInput 
            [(ngModel)]="year.currentYear">
        </mat-form-field>
        <mat-form-field>
            <mat-label 
                for="era" 
                matInput>
                Default Era:</mat-label>
            <mat-select 
                matInput
                id="era" 
                [(ngModel)]="year.currentEra">
                <mat-option matInput
                    *ngFor="let era of year.eras; index as i" 
                    [value]=i>
                    {{era.eraName}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div>
            Eras:
            <div class="era-list">
                <mat-form-field  *ngFor="let x of year.eras; let idx = index; trackBy: trackArray">
                    <input 
                        matInput
                        class="era-name" 
                        type="text" 
                        [(ngModel)]="x.eraName"/>
                    <input 
                        matInput
                        class="era-abbr" 
                        type="text" 
                        [(ngModel)]="x.abbreviation"/>
                    <div 
                        *ngIf="x.beginning">
                        <input 
                            matInput
                            class="era-begin" 
                            type="number" 
                            [(ngModel)]="x.beginning"/>
                    </div>
                    <div *ngIf="x.ending">
                        <input 
                            matInput
                            class="era-end" 
                            type="number" 
                            [(ngModel)]="x.ending"/>
                    </div>
                    <input 
                        class="era-reverse"
                        type="checkbox"
                        [(ngModel)]="x.reversed"/>Reversed
                    <button
                        mat-raised-button
                        class="era-delete" 
                        (click)= "deleteEra(idx)">
                        X
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div>
        <button>New Era</button>
        <div class="new-era-panel">
            <app-new-era
                (eraCreation)="createNewEra($event)"
                [eraListLength]="year.eras.length"
            ></app-new-era>
        </div>
    </div>
</div>