<div class="settings-option">
    <label>Year Settings:</label>
    <div class="input-region">
        <mat-form-field>
            <mat-label  >Default Year:</mat-label>
            <input 
            matInput 
            [(ngModel)]="currentYear">
        </mat-form-field>
        <mat-form-field>
            <mat-label 
                for="era" 
                matInput>
                Default Era:</mat-label>
            <mat-select 
                matInput
                id="era" 
                [(ngModel)]="currentEra">
                <mat-option matInput
                    *ngFor="let era of eras; index as i" 
                    value=i>
                    {{era.eraName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-label for="era">Eras:</mat-label>
            <mat-form-field  *ngFor="let x of eras; let idx = index; trackBy: trackArray">
                <input 
                    matInput
                    class="era-name" 
                    type="text" 
                    [(ngModel)]="x.eraName"/>
                <input 
                    class="era-abbr" 
                    type="text" 
                    [(ngModel)]="x.abbreviation"/>
                <div 
                    *ngIf="x.beginning">
                    <input 
                        class="era-begin" 
                        type="number" 
                        [(ngModel)]="x.beginning"/>
                </div>
                <div *ngIf="x.ending">
                    <input class="era-end" type="number" [(ngModel)]="x.ending"/>
                </div>
                <input class="era-reverse" type="checkbox" [(ngModel)]="x.reversed"/>
                <button class="era-delete" (click)= "deleteEra(idx)">
                    X
                </button>
            </mat-form-field>
        </div>
        <mat-form-field>
            New Era:
            <input 
                matInput
                class="new-era-name" 
                type="text" 
                [(ngModel)]="newEra.eraName" 
                placeholder="Era Name"/>
            <input class="new-era-abbr" type="text" [(ngModel)]="newEra.abbreviation" placeholder="Era Abbreviation"/>
            <input class="new-era-begin" type="number" [(ngModel)]="newEra.beginning" placeholder="Start year number"/>
            <input class="new-era-end" type="number" [(ngModel)]="newEra.ending" placeholder="End year number"/>
            <div>
                <label for="era-reverse">Reverse</label>
                <input id="era-reverse" class="new-era-reverse" type="checkbox" [(ngModel)]="newEra.reversed"/>
            </div>
            <input 
                *ngIf="eras"
                class="new-era-index" 
                type="number" 
                [(ngModel)]="newEraIndex" 
                [min]=1 
                [max]="eras.length + 1" 
                placeholder="Era placement"/>
            <button class="new-era-create" (click)= "createNewEra()">
                add
            </button>
        </mat-form-field>
    </div>
</div>