@import "../../app.component.css";

.settings-panel {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100%;
  top: 0;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: rgba(190, 190, 190);
  overflow-x: hidden; /* Disable horizontal scroll */
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings-option {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 3px solid black;
}

.apply {
  font-size: 30px;
  padding: 10px;
}

.input-region {
  width: 410px;
}

label {
  margin-right: 5px;
  margin-left: 10px;
}

input {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 250px;
}

.input-fields {
  display: flex;
  flex-direction: row;
}

.month-name {
  width: 40%;
}

.month-length {
  width: 20%;
}

.settings-option label {
  width: 140px !important;
}

.event-name {
  width: 90px;
}

.other-event-fields {
  width: 54px;
}

.event-duration-fields {
  width: 30px;
}

.new-leap-rule {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.new-leap-rule label {
  width: 140px !important;
}

.events-list {
  width: 350px;
}

.new-event-region label {
  width: 140px !important;
}
.new-event-region {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.new-lyr-fields {
  width: 410px;
}
.new-event-fields {
  width: 410px;
}

.buttonText {
  font-size: 40px;
  border: none;
}

.LYConfigs {
  width: 294px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.LYLabels {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.LYRule {
  width: 60px;
}

#jsonSaveField {
  resize: none;
}

.loadJSON {
  display: flex;
  flex-direction: row;
}

.loadControls {
  display: flex;
  flex-direction: column;
}

.eventsFields {
  display: flex;
  flex-direction: row;
}

.event-delete {
  right: 1;
  height: 20px;
  width: 25px;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}