
<div class="settings-panel">

    <button (click)= "pushChanges()" class="apply">	
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    
    <div class="columns">
        <div class="settings-option">
            <app-calendar-selector></app-calendar-selector>
        </div>
        <div class="settings-option">
            <app-year-editor
                [year]="yearMath$ | async"></app-year-editor>
        </div>

        <div class="settings-option">
            <app-month-editor></app-month-editor>
        </div>

        <div class="settings-option">
            <app-week-editor></app-week-editor>
        </div>

        <div class="settings-option">
            <app-leap-year-editor></app-leap-year-editor>
        </div>

        <div class="settings-option">
            <app-events-editor></app-events-editor>
        </div>

        <div class="settings-option">
            <app-json></app-json>
        </div>
    </div>
</div>
