@import "../../app.component.css";

.settings-panel {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100%;
  top: 0;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: rgba(190, 190, 190);
  overflow-x: hidden; /* Disable horizontal scroll */
}

.column {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}

.settings-option {
  padding: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border: 3px solid black;
  margin: 20px;
}

.apply {
  font-size: 30px;
  padding: 10px;
}