
<div class="settings-panel">

    <button 
        mat-raised-button
        color="basic"
        (click)= "pushChanges()"
        class="apply">
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    
    <div class="column">
        <div class="settings-option" *ngIf="yearMath$">
            <button
                mat-flat-button
                color="primary"
                (click)="toggleYearOptions()">
                Year Editor</button>
            <app-year-editor
                *ngIf="yearOpen$ | async"
                [setYear]="yearMath$ | async"></app-year-editor>
        </div>

        <div class="settings-option" *ngIf="months$">
            <button 
                mat-flat-button
                color="primary"
                (click)="toggleMonthOptions()">
                Month Editor</button>
            <app-month-editor
                *ngIf="monthOpen$ | async"
                [setMonths]="months$ | async"></app-month-editor>
        </div>

        <div class="settings-option" *ngIf="weeks$">
            <button 
                mat-flat-button
                color="primary"
                (click)="toggleWeekOptions()">
                Week Editor</button>
            <app-week-editor
                *ngIf="weekOpen$ | async"
                [setDoW]="weeks$ | async"></app-week-editor>
        </div>

        <div class="settings-option" *ngIf="leapYears$">
            <button 
                mat-flat-button
                color="primary"
                (click)="toggleLeapYearOptions()">
                Leap Year Rule Editor</button>
            <app-leap-year-editor
                *ngIf="leapYearOpen$ | async"
                [setLeapYear]="leapYears$ | async"></app-leap-year-editor>
        </div>

        <div class="settings-option" *ngIf="events$">
            <button 
                mat-flat-button
                color="primary"
                (click)="toggleEventOptions()">
                Event Editor</button>
            <app-events-editor
                *ngIf="eventOpen$ | async"
                [setEventLists]="events$ | async"></app-events-editor>
        </div>

        <div class="settings-option">
            <button 
                mat-flat-button
                color="primary"
                (click)="toggleJSONOptions()">
                JSON Options</button>
            <app-json
                *ngIf="jsonOpen$ | async"
                [calendar]="calendarObject$ | async"></app-json>
        </div>
    </div>
</div>
