
<div class="settings-panel">

    <button (click)= "pushChanges()" class="apply">	
        <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
        Apply
    </button>
    
    <div class="columns">
        <div class="settings-option" *ngIf="yearMath$">
            <app-year-editor
                [setYear]="yearMath$ | async"></app-year-editor>
        </div>

        <div class="settings-option" *ngIf="months$">
            <app-month-editor
                [setMonths]="months$ | async"></app-month-editor>
        </div>

        <div class="settings-option" *ngIf="weeks$">
            <app-week-editor
                [setDoW]="weeks$ | async"></app-week-editor>
        </div>

        <div class="settings-option" *ngIf="leapYears$">
            <app-leap-year-editor
                [setLeapYear]="leapYears$ | async"></app-leap-year-editor>
        </div>

        <div class="settings-option" *ngIf="events$">
            <app-events-editor
                [eventLists]="events$ | async"></app-events-editor>
        </div>

        <div class="settings-option">
            <app-json
                [calendar]="calendarObject$ | async"></app-json>
        </div>
    </div>
</div>
